
.container {
    height: 100vh;
    font-family: "orbitron";
}

.navbar-container{
    display: flex;
    justify-content:space-between ;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    margin: 0 75px 50px;
}

nav .list {
    display: flex; 
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 22px;
    font-weight: 500;
    padding: 0;
}

nav .button-group {
    display: flex;
    align-items: center;
    
}

.nav-button {
    padding: 0 40px;
    line-height: 36px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 12px;
    margin-left: 15px;
    color: #515151;
}

nav .list-item {
    padding: 5px 20px;
    transition: all 125ms ease-in-out;
}

.list-item:hover {
    font-weight: 700;
    border-bottom: 2px solid #000000;
    padding-bottom: 3px;
}

.hero-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0 75px;
}

.square {
    margin-top: 100px;
    margin-left: 200px;
    
}

.brand-logo {
    display: block;
    
}

.square {
    position: absolute;
    bottom: 0;
    left: -84px;
}

.star {
    position: absolute;
    right: 5%;
}

.star img {
    width: 52px;
}

.star1 {
    position: absolute;
    bottom: 5%;
    left: 35%;
}

.star1 img {
    width: 48px;
}
.globe {
    position: absolute;
    left: 54%;
    right: 46%;
    top: -30px;
}

.globe img {
    width: 52px;
}
.hero {
    z-index: 5;
}

.hero img {
    width: 375px;
}

.square img {
    width: 320px;
    
}

.hero-container-right {
    margin-left: 100px;
    text-align: center
}

.hero-heading {
    margin-top: 85px;
    font-size: 60px;
    font-weight: 700;
}

.hero-description {
    font-size: 14px;
    margin: 0 175px;
    color: #515151;
    font-family: "popins";
    margin-bottom: 80px;
}

.button-email {
    font-family: "orbitron";
    padding: 0 25px;
    line-height: 32px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 12px;
    margin-left: 10px;
}

.button-join {
    font-family: "orbitron";
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 12px;
    margin-left: 10px;
    background-color: #000000;
    color: #ffffff;

}

.contact-heading {
    color: #515151;
    font-family: "popins";
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

.buttons {
    margin-bottom: 80px;
}

.icons img {
    width: 32px;
    margin: 0 5px;
}





















/* .navbar-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.list {
    display: flex;
    padding-right: 230px;
    padding-left: 100px;
    list-style-type: none;
}

.list-item{
    padding-right: 100px;
    font-size: 20px;
}

.list-item > li {
    list-style-type: none;
}

.button-group{
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-right: 70px;
}

.nav-button{
    background-color: #fff;
    border-radius: 5px;
    padding: 3px 23px;

}

.brand-logo{
    height: 50px;
    width: 150px;
    margin-left: 100px;
    
    
}
.img{
    height: 100%;
    width: 100%;
}

.search-icon > svg{
    width: 20px;
    margin-right: 10px;
    margin-top: -3px;
} */
